 <!--inicio del PREfooter-->
 <div id="footer"> 
    <div class="container"> <!--nos permite central contenido conforme al ancho de a pagina-->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-lx-3">
                <div class="footerSedes">Sedes</div>
                <div class="sedeQ">
                    <h6>Sede Quibdó</h6>
                    <p>  Cra 8 # 25 - 01 Detras del Catalina </p>
                </div>
                <div class="sedeM">
                    <p> </p>
                    <h6>Sede Medellín</h6>
                    <p> Av. Las Vegas Calle 2 sur # 46 -116 Piso 14 consultorio 116 </p>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-lx-3">
                <div class="footerTelefonos">Teléfonos</div>
                <h6>Telefono Principal</h6>
                <p id="tlfPrincipal">3113041966</p>
                <h6>Otro</h6>
                <p id="tlfSecundario">3174393943</p>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-lx-3">
                <div class="footerHorarios">Horarios</div>
                <h6>Sede Quibdó</h6>
                <div class="mihorario1">Lunes a Viernes 08:00AM a 06:00PM</div>
                <div class="mihorario2">Sabados y Domingos 09:00AM a 05:00PM</div>
                <p> </p>
                <h6>Sede Medellín</h6>
                <div class="mihorario3">Lunes a Viernes 09:00AM a 05:00PM</div>
                <div class="mihorario4">Sabados y Domingos 10:00AM a 05:30PM</div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-lx-3">
                <div class="footerSuscripcion">Suscríbete aquí</div> <!--el id se nombra con indicios del tipo de datos, en este caso es un label-->
                    <div id="capCorreo"> <!--declaramos el id para el ingreso de los datos-->
                        <input type="text" id="miemail" class="inputtextos" placeholder="Email">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Suscribirme</button>
                    </div>
                </div>
            </div>
        </div> 
</div> <!--fin del footer-->
