<app-menu-dashboard></app-menu-dashboard>
<div class="ventana">
  <div class="titulo">Agendar Citas</div>
      <div id="Mis-Datos-C" class="col-sm-12 col-md-6">
          <div id="Mis-Datos-C">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputNombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre" [readOnly]="true">
              </div>
              <div class="form-group col-md-6">
                <label for="inputApellido">Apellido:</label>
                <input type="text" class="form-control" id="apellidos" [(ngModel)]="apellidos" [readOnly]="true">
              </div>
              <div class="form-group col-md-6">
                <label for="inputCedula">Cedula:</label>
                <input type="text" class="form-control" id="cedula" [(ngModel)]="cedula" [readOnly]="true">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail">Correo:</label>
                <input type="text" class="form-control" id="correo" [(ngModel)]="correo" [readOnly]="true">
              </div>
              <div class="form-group col-md-6">
                <label for="inputTelefono">Telefono:</label>
                <input type="text" class="form-control" id="telefono" [(ngModel)]="telefono" [readOnly]="true">
              </div>
              <div class="form-group col-md-6">
                  <label for="inputProcedimiento">Tratamiento:</label>
                    <select id="inputTratamiento" class="form-control" [(ngModel)]="tratamiento">
                      <option *ngFor="let tratam of tratamientos" [value]="tratam._id">
                        {{ tratam.nombre }}
                      </option>
                    </select>
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputFecha">Fecha:</label>
                <input type="date" class="form-control" id="inputFecha" [(ngModel)]="fecha">
              </div>
              <div class="form-group col-md-6">
                <label for="inputHora">Hora:</label>
                <input type="time" class="form-control" id="inputHora" [(ngModel)]="hora">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputDepto">Departamento</label>

                <select id="inputDepto" class="form-control" [(ngModel)]="departamento" (change)="cargarCiudades()">
                  <option *ngFor="let depto of departamentos" [ngValue]="depto">
                    {{ depto.nombre }}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputCiudad">Ciudad</label>

                <select id="inputCiudad" class="form-control" [(ngModel)]="ciudad">
                  <option *ngFor="let ciud of ciudades" [ngValue]="ciud">
                    {{ ciud.nombre }}
                  </option>
                </select>
              </div>
              
            </div>
            <button type="button" id="confirmarCita" class="btn btn-primary" (click)="Guardar()">Agendar Cita</button>
          </div>
        </div>
  </div>




