
div#Mis-Datos-C {
  margin-left: 5px;
}

.ventana {
  position: absolute;
  margin-left: 215px;
  border-radius: 1px;
  overflow-x: auto;
  border: solid 0px;
  background: #f5f5e8;
  width:calc(100% - 220px);
  /* font-size: initial;
  font-style: oblique;
  text-align: justify; */
}

/* .titulo {
  background: #cbb762;
  color: white;
  height: 38px;
  font-weight: 500;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 19px;
  width: 95%;
  margin-left: 8px;
  font-size: 27px;
  text-align: end;
  padding-right: 16px;
}
.datos.col-lg-9.col-md-8.col-sm-12 {
padding-left: 20%;
} */
