<app-header> </app-header>

<!--Insertamos un div tipo formulario para que el usuario diligencia sus datos para ponerse en contacto con H&M-->
<!-- 
    <div class="">
        <div class="row">
            <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="descripcionCitas">
                <h1>¡Ingresa tus datos y pronto te contáctaremos!</h1>
                <p> Queremos escucharte. Diligencia el formato y haznos saber tu opinión, tus datos personales completos y reales nos permiten realizar seguimiento a tu requerimiento. La totalidad de la información que nos suministres será tenida en cuenta para ofrecerte una respuesta clara, veraz y ágil. </p>
            </div>
        </div>
    </div>

    <div id="datosUsuario">
    <div class="row">
        <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label for="inputNombre">nombres</label>
            <input type="text" class="form-control" id="inputNombre">
        </div>

        <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label for="inputCorreo">Email</label>
            <input type="email" class="form-control" id="inputCorreo">
        </div>
    
        <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <label for="inputLlamar">Telefono o Celular</label>
        <input type="int" class="form-control" id="inputLlamar">
        </div>

        <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label for="inputState"> Motivo Consulta </label>
            <select id="inputState" class="form-control">
            <option selected>Elige</option>
            <option>1. Bordes Incisales</option>
            <option>2. Diseño de Sonrisas</option>
            <option>3. Microdiseño de Sonrisas</option>
            <option>4. Coronas Cerámicas</option>
            <option>5. Incrustaciones</option>
            <option>6. Aclaramientos Dentales</option>
            <option>7. Microabrasiones</option>
            <option>8. Implantes Dentales</option>
            </select>
        </div>

        <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Acepto términos y codiciones
            </label>
        </div>
        </div>

        <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div> 
    </div> 
</div> -->

<div class="container">
    <div class="row">
        <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="descripcionCitas">
            <h1>¡Ingresa tus datos y pronto te contáctaremos!</h1>
            <p> Queremos escucharte. Diligencia el formato y haznos saber tu opinión, tus datos personales completos y reales nos permiten realizar seguimiento a tu requerimiento. La totalidad de la información que nos suministres será tenida en cuenta para ofrecerte una respuesta clara, veraz y ágil. </p>
        </div>
    </div>
</div>

<div id="FormularioCitas" class="container">
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault01">nombre</label>
        <input type="text" class="form-control" id="validationDefault01" value="" required>
      </div>

      <div class="col-md-3 mb-3">
        <label for="validationDefault02">apellidos</label>
        <input type="text" class="form-control" id="validationDefault02" value="" required>
      </div>

      <div class="col-md-3 mb-3">
        <label for="validationDefault03">tipo de documento</label>
        <select class="custom-select" id="validationDefault03" required>
          <option selected disabled value="">seleccionar...</option>
          <option>cedula de ciudadania</option>
          <option>cedula de extranjeria</option>
          <option>pasaporte</option>
          <option>tarjeta de identidad</option>
          <option>registro civil</option>
        </select>
      </div>

      <div class="col-md-2 mb-2">
        <label for="validationDefault04">nro. de documento</label>
        <input type="text" class="form-control" id="validationDefault04" required>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault05">correo</label>
        <input type="text" class="form-control" id="validationDefault05" required>
      </div>
      <div class="col-md-2 mb-2">
        <label for="validationDefault06">telefono</label>
        <input type="text" class="form-control" id="validationDefault06" required>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputFecha">Fecha:</label>
          <input type="date" class="form-control" id="inputFecha">
        </div>
        <div class="form-group col-md-6">
          <label for="inputHora">Hora:</label>
          <input type="time" class="form-control" id="inputHora">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputCiudad">ciudad</label>
          <select id="inputCiudad" class="form-control">
            <option selected>seleccionar...</option>
            <option>Medellin</option>
            <option>Quibdó</option>
          </select>
        </div>
    </div>
</div>

<!--     <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Aceptar términos y condiciones
        </label>
      </div>
    </div> -->

<div class="form-group">
    <div class="form-check">
        <button type="submit" class="btnAgendarCita">Agendar Cita</button>
    </div>
</div>

</div>

<app-footer> </app-footer>




