<!--Empezamos a definir algunas imagenes de informacion general de servicios con su respectiva responsividad-->
<div id="tratamientos">
    <div class="container"> 
        <div id="idtrata" class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lx-12"> 
                <img src="./images/new1.png" class="img-thumbnail"  width="360px"> <!--se le define el tamaño a cada imagen-->
                <img src="./images/new2.png" class="img-thumbnail"  width="360px">
                <img src="./images/new3.png" class="img-thumbnail"  width="360px">
                <img src="./images/new4.png" class="img-thumbnail"  width="360px">
                <img src="./images/new5.png" class="img-thumbnail"  width="360px">
                <img src="./images/new6.png" class="img-thumbnail"  width="360px">
                <img src="./images/new7.png" class="img-thumbnail"  width="360px">
                <img src="./images/mitodelimonycafe.png" class="img-thumbnail"  width="360px">
            </div>
        </div>
    </div>
  </div>
