@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.contenedor-acordeon{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contenedor-acordeon h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 9px;
    background: cornsilk;
    font-weight: 400;
    font-style: italic;
    border: solid 1px oldlace;
    border-radius: 9px;
}

.acordeon{
    background: #fff;
}
.acordeon label{
    display: block;
    padding: 10px;
    font-size: 20px;
    background: #bbad60;
    color: #f3efef;
    cursor: pointer;
    margin-bottom: 3px;
    transition: all 300ms ease;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    border-radius: 5px;
}
.acordeon label:hover{
    background: #3c300d;
}
.acordeon .contenido-acordeon{
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}
.btn-acordeon:checked ~ .contenido-acordeon{
    max-height: 600px;
    padding: 15px 0px;
}
.btn-acordeon{
    display: none;
}

#tituloTratamientos {
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 30px;
    background: beige;
    border-radius: 10px;
}

.card {
    display: block;
    margin-left: 25%;
    max-width: 50%;
}