<app-header> </app-header>

  <div id="tituloTratamientos" class="jumbotron jumbotron-fluid">
    <div>
      <h1 id="DescripcionInicial" class="display-3">Disponemos de estos tratamientos</h1>
      <p id="clicTratamientos" class="lead">Da clic y descube de que se trata cada uno.</p>
    </div>
  </div>

   <div class="contenedor-acordeon">
       <h2></h2>
       <div class="acordeon">
           <input type="radio" name="acordeon" id="btn-acordeon1" class="btn-acordeon">
           <label for="btn-acordeon1">
               Bordes Incisales
           </label>
           <div class="contenido-acordeon">
                <div class="card">
                    <img src="../../../assets/images/trata1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Implican el revestimiento total de un diente que ha sufrido perdida debido a un trauma o alguna malformacion, restaurando su forma y funcion de manera natural.</p>
                </div>
           </div>
       </div>

       <div class="acordeon">
        <input type="radio" name="acordeon" id="btn-acordeon2" class="btn-acordeon">
        <label for="btn-acordeon2">
            Diseño de Sonrisas
        </label>
        <div class="contenido-acordeon">
            <div class="card">
                <img src="../../../assets/images/trata2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Perfeccionamos tu sonrisa mediante la modificacion de la forma, tamaño, color y posicion de tus dientes, teniendo en cuenta la armonia con tu rostro y boca. Utilizamos carillas fabricadas con materiales como resina y ceramica.</p>
            </div>
        </div>
    </div>

    <div class="acordeon">
        <input type="radio" name="acordeon" id="btn-acordeon3" class="btn-acordeon">
        <label for="btn-acordeon3">
            Microdiseño de Sonrisas
        </label>
        <div class="contenido-acordeon">
            <div class="card">
                <img src="../../../assets/images/trata3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Es un tratamiento de la odontología estética conservadora, se realiza de manera rápida, sencilla y segura. Con este procedimiento no hay efectos secundarios en la mayoría de los pacientes, por lo general no produce dolor, aunque algunos pueden experimentar una leve sensibilidad.</p>
            </div>
        </div>
    </div>

    <div class="acordeon">
        <input type="radio" name="acordeon" id="btn-acordeon4" class="btn-acordeon">
        <label for="btn-acordeon4">
            Coronas Cerámicas
        </label>
        <div class="contenido-acordeon">
            <div class="card">
                <img src="../../../assets/images/trata4.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Son fundas que imitan la forma y color de los dientes naturales y que se colocan sobre el diente dañado cubriendo totalmente la parte exterior del diente para recuperar su aspecto sano y su funcionalidad.</p>
            </div>
        </div>
    </div>

    <div class="acordeon">
        <input type="radio" name="acordeon" id="btn-acordeon5" class="btn-acordeon">
        <label for="btn-acordeon5">
            Incrustaciones
        </label>
        <div class="contenido-acordeon">
            <div class="card">
                <img src="../../../assets/images/trata5.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"> </p>
            </div>
        </div>
    </div>

    <div class="acordeon">
        <input type="radio" name="acordeon" id="btn-acordeon6" class="btn-acordeon">
        <label for="btn-acordeon6">
            Aclaramientos Dentales?
        </label>
        <div class="contenido-acordeon">
            <div class="card">
                <img src="../../../assets/images/trata6.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"> </p>
            </div>
        </div>
    </div>

    <div class="acordeon">
        <input type="radio" name="acordeon" id="btn-acordeon7" class="btn-acordeon">
        <label for="btn-acordeon7">
            Microabrasiones
        </label>
        <div class="contenido-acordeon">
            <div class="card">
                <img src="../../../assets/images/trata7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Es una técnica que consiste en la eliminación superficial del esmalte defectuoso o pigmentado. Se eliminan con un chorro de aire a presión las manchas blancas y se reconstruyen posteriormente con composite. De este modo, mejora el color del esmalte y la estética dental de tu sonrisa.</p>
            </div>
        </div>
    </div>

    <div class="acordeon">
        <input type="radio" name="acordeon" id="btn-acordeon8" class="btn-acordeon">
        <label for="btn-acordeon8">
            Implantes Dentales
        </label>
        <div class="contenido-acordeon">
            <div class="card">
                <img src="../../../assets/images/trata8.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Son componentes de titanio que actúan como la raíz de un diente y que se colocan por medio de una cirugía en el hueso maxilar, debajo de la encía. 
            </p>
            </div>
        </div>
    </div>

</div>

<app-footer> </app-footer>



