.ventana {
  border: solid 0px ;
}
.titulo {
  background: #ffc200;
  color: white;
  height: 38px;
  border-radius: 6px;
  padding-left: 10px;
  font-weight: 500;
  font-style: italic;
  margin-top: 3px;
  margin-bottom: 40px;
  width: 95%;
  margin-left: 8px;
}
.btnadd {
  background: #8BC34A;
  width: 39px;
  text-align: center;
  color: white;
  border-radius: 50%;
  font-size: 23px;
  font-weight: 700;
  margin: 4px;
  right: 4px;
  position: absolute;
  top: 0px;
  cursor: pointer;
}
.table {
  width: 1140px;
  margin-bottom: 1rem;
  color: #212529;
  margin-top: -30px;
  margin-left: 9px;
  border-radius: 1px;
}
