<div class="container-fluid">
  <div class="row">
      <div id="Menu-Cliente" class="col-lg-3 col-md-4 col-sm-12">
          <div id="Datos-Cliente">
              <img src="../../../assets/images/Avatar.png" alt="">
              <div class="Nombre-Cliente">Steban Delgado</div>
              <div class="Rol-Cliente">Administrador</div>
          </div>
          <div class="Opciones-Cliente">
              <li class="nav-item">
                  <a class="nav-link" href='./componentes/user-menu-mis-datos/user-menu-mis-datos.component'><div class="Item-Menu">Mis Datos</div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://localhost4200/user-menu-mis-citas"><div class="Item-Menu">Mis Citas</div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://localhost4200/user-menu-agendar-citas"><div class="Item-Menu">Agendar Cita</div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://localhost4200"><div class="Item-Menu">Salir</div></a>
                </li>
          </div>
      </div>
  </div>
</div>

