<div class="container-fluid">
  <div class="row">
      <div id="Menu-Cliente" class="col-lg-3 col-md-4 col-sm-12">
          <div id="Datos-Cliente">
              <img src="./multimedia/Avatar.png" alt="">
              <div class="Nombre-Cliente">Steban Delgado</div>
              <div class="Rol-Cliente">Administrador</div>
          </div>
          <div class="Opciones-Cliente">
              <li class="nav-item">
                  <a class="nav-link" href="./misdatos.html"><div class="Item-Menu">Mis Datos</div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./miscitas.html"><div class="Item-Menu">Mis Citas</div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./citas.html"><div class="Item-Menu">Agendar Cita</div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./menu.html"><div class="Item-Menu">Salir</div></a>
                </li>
          </div>
      </div>
  </div>
</div>

