#FormularioRegistro {
    padding-bottom: 10px;
    padding-top: 44px;
    border: solid 1px;
    border-color: antiquewhite;
    background: beige;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 14px;
}

