<app-header> </app-header>

<div class="container">
    <div class="row">
        <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="descripcionCitas">
            <h1>¡Ingresa tus datos y pronto te contáctaremos!</h1>
            <p> Queremos escucharte. Diligencia el formato y haznos saber tu opinión, tus datos personales completos y reales nos permiten realizar seguimiento a tu requerimiento. La totalidad de la información que nos suministres será tenida en cuenta para ofrecerte una respuesta clara, veraz y ágil. </p>
        </div>
    </div>
</div>

<div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Nro. de Contacto</label>
    <input class="form-control" id="exampleFormControlInput1">
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Tratamiento de interes?</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option selected>seleccionar...</option>
      <option>Bordes incisales</option>
      <option>Diseño de sonrisas</option>
      <option>Microdiseño de Sonrisas</option>
      <option>Coronas Cerámicas</option>
      <option>Incrustaciones</option>
      <option>Aclaramientos dentales</option>
      <option>Microabrasiones</option>
      <option>Implantes dentales</option>
      <option>Otras consultas</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Describe tu requerimiento, consulta y sugerencia.</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <div id="boton1Contactanos">
    <button type="submit" class="btnAgendarCita">Enviar</button>
  </div>
</div>



<!-- <div id="FormularioCitas" class="container">
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault01">Nombre completo</label>
        <input type="text" class="form-control" id="validationDefault01" value="" required>
      </div>

      <div class="col-md-3 mb-3">
        <label for="validationDefault02">Em</label>
        <input type="text" class="form-control" id="validationDefault02" value="" required>
      </div>

      <div class="col-md-3 mb-3">
        <label for="validationDefault03">tipo de documento</label>
        <select class="custom-select" id="validationDefault03" required>
          <option selected disabled value="">seleccionar...</option>
          <option>cedula de ciudadania</option>
          <option>cedula de extranjeria</option>
          <option>pasaporte</option>
          <option>tarjeta de identidad</option>
          <option>registro civil</option>
        </select>
      </div>

      <div class="col-md-2 mb-2">
        <label for="validationDefault04">nro. de documento</label>
        <input type="text" class="form-control" id="validationDefault04" required>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault05">correo</label>
        <input type="text" class="form-control" id="validationDefault05" required>
      </div>
      <div class="col-md-2 mb-2">
        <label for="validationDefault06">telefono</label>
        <input type="text" class="form-control" id="validationDefault06" required>
      </div> -->

      <!-- <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputFecha">Fecha:</label>
          <input type="date" class="form-control" id="inputFecha">
        </div>
        <div class="form-group col-md-6">
          <label for="inputHora">Hora:</label>
          <input type="time" class="form-control" id="inputHora">
        </div>
      </div> -->

      <!-- <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputCiudad">ciudad</label>
          <select id="inputCiudad" class="form-control">
            <option selected>seleccionar...</option>
            <option>Medellin</option>
            <option>Quibdó</option>
          </select>
        </div>
    </div>
    <div id="boton1Contactanos">
        <button type="submit" class="btnAgendarCita">Enviar</button>
    </div>
</div>

<div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Aceptar términos y condiciones
        </label>
      </div>
    </div>

<div class="form-group">
    <div class="form-check">
        <button type="submit" class="btnAgendarCita">Agendar Cita</button>
    </div>
</div>

</div> -->


<body>
    <p> </p>
    <div class="mapas">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lx-8"> <!--Se efectúan correciones sobre los: col y col-sm-->
                <h4>Sede Medellin</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.4560093465343!2d-75.57883872441121!3d6.203418993784361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46827e69ccf235%3A0x6d5c15283714ed13!2sCl.%202%20Sur%20%2346-55%2C%20El%20Poblado%2C%20Medell%C3%ADn%2C%20El%20Poblado%2C%20Medell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses-419!2sco!4v1712512878481!5m2!1ses-419!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p> </p>
                <h4>Sede Quibdo</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d777.2877480260405!2d-76.65733855585592!3d5.688611586840296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1712632065755!5m2!1ses-419!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <p> </p>
            </div>
        <p> </p>
    </div>
    <p> </p>
    </div>
</body>

<app-footer> </app-footer>






