<app-header> </app-header>

<body>
    <!--Insertamos las ubicaciones a traves de Mapas de google-->
    <p> </p>
    <div class="mapas">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lx-8"> <!--Se efectúan correciones sobre los: col y col-sm-->
                <h4>Sede Medellin</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.4560093465343!2d-75.57883872441121!3d6.203418993784361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46827e69ccf235%3A0x6d5c15283714ed13!2sCl.%202%20Sur%20%2346-55%2C%20El%20Poblado%2C%20Medell%C3%ADn%2C%20El%20Poblado%2C%20Medell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses-419!2sco!4v1712512878481!5m2!1ses-419!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p> </p>
                <h4>Sede Quibdo</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d777.2877480260405!2d-76.65733855585592!3d5.688611586840296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1712632065755!5m2!1ses-419!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <p> </p>
            </div>
        <p> </p>
    </div>
    <p> </p>
    </div>
</body>

<app-footer> </app-footer>






