<!-- src/app/components/agendar-citas/agendar-citas.component.html -->
<form [formGroup]="citaForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="fecha">Fecha:</label>
      <input id="fecha" formControlName="fecha" type="date" />
    </div>
    
    <div>
      <label for="hora">Hora:</label>
      <input id="hora" formControlName="hora" type="time" />
    </div>
    
    <div>
      <label for="paciente">Paciente:</label>
      <input id="paciente" formControlName="paciente" type="text" />
    </div>
    
    <div>
      <label for="odontologo">Odontólogo:</label>
      <input id="odontologo" formControlName="odontologo" type="text" />
    </div>
    
    <button type="submit" [disabled]="citaForm.invalid">Agendar Cita</button>
  </form>
  
<app-mis-citas></app-mis-citas>
