form.login {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  margin-bottom: 40px;

}
button.btnLogin {
  border: 0px;
  background: #996410;
  color: white;
  padding: 4px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  transition: 0.3s ease-in-out;
}
button.btnLogin:hover{
  background: #724b0c
}
h2.logintext {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
