<div id="nosotros"> 
    <div id="rowNosotros" class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-lx-3">
            <div class="mision">Misión</div>
                <p>
                    Hernández & Mosquera, brinda un servicio odontológico de insuperable calidad,  orientado al diseño de una sonrisa que rompa con paradigmas estéticos y garantice la consecución de una sonrisa natural que satisfaga las necesidades en salud oral de nuestros pacientes.
                </p>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-lx-3">
            <div class="vision">Visión</div>
                <p>
                    Para el 2028 Hernández y Mosquera, se consolida como un consultorio odontológico garante de efectividad, calidad y exclusividad en sus procedimientos.  
                </p>
        </div>
            
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-lx-3">
            <div class="valores">Valores</div>
                <p>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAIpJREFUSEvtk1EKwCAMQ+PNtpNtN9uOthUmyOiMNIj7UPCnal5TSULnlTrrYwLohIeOaL/bs10ur1Z18eVgAXAAOAGsj4JXk0ZkABMtIV4t5CA/kiEtnyxBWgDmJgz5BSDcvVlnDiRxBpDFawBL7PbKgFeTgpZDVop4NSlotEN2gX0ye0/PJ2D8iC7rnCwZYkqd0gAAAABJRU5ErkJggg=="/>
                    Calidad
            
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAIpJREFUSEvtk1EKwCAMQ+PNtpNtN9uOthUmyOiMNIj7UPCnal5TSULnlTrrYwLohIeOaL/bs10ur1Z18eVgAXAAOAGsj4JXk0ZkABMtIV4t5CA/kiEtnyxBWgDmJgz5BSDcvVlnDiRxBpDFawBL7PbKgFeTgpZDVop4NSlotEN2gX0ye0/PJ2D8iC7rnCwZYkqd0gAAAABJRU5ErkJggg=="/>
                    Ética laboral 
                    
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAIpJREFUSEvtk1EKwCAMQ+PNtpNtN9uOthUmyOiMNIj7UPCnal5TSULnlTrrYwLohIeOaL/bs10ur1Z18eVgAXAAOAGsj4JXk0ZkABMtIV4t5CA/kiEtnyxBWgDmJgz5BSDcvVlnDiRxBpDFawBL7PbKgFeTgpZDVop4NSlotEN2gX0ye0/PJ2D8iC7rnCwZYkqd0gAAAABJRU5ErkJggg=="/>
                    Responsabilidad. 
                </p>
        </div> 

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-lx-3">
            <div class="servicios">Nuestros Servicios</div>
                <p class="fotosdr">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPVJREFUSEu1lQEOwiAMRdnJ1JOpJ1NPpr6FkjopvyNZExKyjv8+7QZLOTiWg/VLBnAupTBO1Qzze50/vzlGGCMAQtcqPtIAALALigC3Kr6ngkBY9xM9wIy4if5BtgDK8ghsUwLyKi6+XFsA4j0RczYyYGCMAFnDA9Ric6beQ7ftwgMytc9CWi/2Arw71a+1TB7wVt1zebWT1gcPiBrc4ypAMz8DyIhP9yAjjvsuQH1+WfHwMyUR9cGapkygEf5oJEcCbJvTVcXwqGBx5oeLIPKws4UzkPRxbZBDLxxfArsyeUYP7OZ61fn0lamamcpnLv2UUPTSBwP0Qhk6NFwEAAAAAElFTkSuQmCC" id=""/>
                    Cirugía oral (Exodoncia quirúrgica de cordales, exodoncia simple, implantologia oral, Gingivoplastia)
                
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPVJREFUSEu1lQEOwiAMRdnJ1JOpJ1NPpr6FkjopvyNZExKyjv8+7QZLOTiWg/VLBnAupTBO1Qzze50/vzlGGCMAQtcqPtIAALALigC3Kr6ngkBY9xM9wIy4if5BtgDK8ghsUwLyKi6+XFsA4j0RczYyYGCMAFnDA9Ric6beQ7ftwgMytc9CWi/2Arw71a+1TB7wVt1zebWT1gcPiBrc4ypAMz8DyIhP9yAjjvsuQH1+WfHwMyUR9cGapkygEf5oJEcCbJvTVcXwqGBx5oeLIPKws4UzkPRxbZBDLxxfArsyeUYP7OZ61fn0lamamcpnLv2UUPTSBwP0Qhk6NFwEAAAAAElFTkSuQmCC"/>
                    Endodoncia (Tratamiento de endodoncia o conductos de dientes)
                
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPVJREFUSEu1lQEOwiAMRdnJ1JOpJ1NPpr6FkjopvyNZExKyjv8+7QZLOTiWg/VLBnAupTBO1Qzze50/vzlGGCMAQtcqPtIAALALigC3Kr6ngkBY9xM9wIy4if5BtgDK8ghsUwLyKi6+XFsA4j0RczYyYGCMAFnDA9Ric6beQ7ftwgMytc9CWi/2Arw71a+1TB7wVt1zebWT1gcPiBrc4ypAMz8DyIhP9yAjjvsuQH1+WfHwMyUR9cGapkygEf5oJEcCbJvTVcXwqGBx5oeLIPKws4UzkPRxbZBDLxxfArsyeUYP7OZ61fn0lamamcpnLv2UUPTSBwP0Qhk6NFwEAAAAAElFTkSuQmCC"/>
                    Rehabilitación oral Y Estética dental (Carillas en resina y cerámica, Coronas totalmente cerámica y metal cerámica, resinas estéticas) 
                </p>
            </div> 

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-lx-3">
            <div class="quienessomos">Quienes somos</div>
                <p>
                    Hernández & Mosquera es el resultado del trabajo conjunto de los odontólogos Carolina Hernández Ossa y Yirlon Raphael Mosquera Valencia, ambos egresado de la Universidad CES, quienes se conocen durante su formación académica y profesional, es entonces que se convierten en grandes amigos lo que permite que al finalizar sus estudios den  inicio a una sociedad médica; Donde la combinación de sus conocimientos y habilidades médicos hace posible que garanticen siempre el mejor resultado en cada uno de los procesos odontológicos llevados a cabo.
                </p>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-lx-3">
            <div class="grupoespecialistas">Especialista</div>
                <p>Dra. Carolina Hernández</p>
                <img id="ftCaro" src="./images/new6.png"  width="80%" height="80%"> 
                <p> </p>
        </div> 

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-lx-3">
            <div class="grupoespecialistas">Especialista</div>
                <p>Dr. Yirlon Mosquera</p>
                <img id="ftYir" src="./images/new6.png" width="80%" height="80%"> 
        </div> 
</div>