<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="/src/app/componentes/home/home.component.html">ʜ&ᴍ</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li>
                <a class="nav-link" href="/">home <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" href="./citas">citas</a>
            </li>
            <li>
                <a class="nav-link" href="./contactenos">contactenos</a>
            </li>
            <li>
                <a class="nav-link" href="./nosotros">nosotros</a>
            </li>
            <li>
                <a class="nav-link" href="./tratamientos">tratamientos</a>
            </li>
        </ul>

        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="/src/app/componentes/login/login.component.html">login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/src/app/componentes/registro/registro.component.html">registro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">cerrar sesión</a>
            </li>
          </ul>

    </div>
</nav>