<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- <a class="navbar-brand" href="../header/header.component.html">ʜ&ᴍ</a> -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li>
                <a class="nav-link" href="./home">Home<span class="sr-only">(current)</span></a>
            </li>
     <!--        <li>
                <a class="nav-link" href="./citas">Citas</a>
            </li> -->
            <li>
                <a class="nav-link" href="./contactenos">Contáctenos</a>
            </li>
            <li>
                <a class="nav-link" href="./nosotros">Nosotros</a>
            </li>
            <li>
                <a class="nav-link" href="./tratamientos">Tratamientos</a>
            </li>
        </ul>

        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="./login">Login</a>
            </li>

            <li>
              <a class="nav-link" href="./registro">Registro</a>
          </li>
        </ul>

      </div>


      <div id="rsociales">
        <a href="https://www.instagram.com/hernandezymosquera/" target="_blank">
          <img id="imgInstagram" src="../../../assets/icons/iconIG.png">
        </a>
        <a href="https://wa.me/573113041966?text=%F0%9F%A6%B7%20Hola%20bienvenido%20a%20Hernandez%20y%20Mosquera,%20odontologia%20premium." target="_blank">
          <img id="imgWhatsApp" src="../../../assets/icons/icconWSTP.png">
        </a>
        <a href="https://www.tiktok.com/hernandezymosquera/" target="_blank">
          <img id="imgWhatsApp" src="../../../assets/icons/icontiktok.png">
        </a>

      </div>

</nav>
