.ventana {
    position: absolute;
    margin-left: 215px;
    border-radius: 1px;
    overflow-x: auto;
    border: solid 0px;
    background: #f5f5e8;
    width: 50%;
    margin-left: 25%;
    font-size: initial;
    font-style: oblique;
    text-align: justify;
  }

  .titulo {
    background: #cbb762;
    color: white;
    height: 38px;
    font-weight: 500;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 19px;
    width: 95%;
    margin-left: 8px;
    font-size: 27px;
    text-align: end;
    padding-right: 16px;
}
.datos.col-lg-9.col-md-8.col-sm-12 {
  padding-left: 20%;
}

div#Mi-Menu[_ngcontent-ng-c2452111239] {
    border: solid 2pxpx beige;
    width: 210px;
    height: 99vh;
    margin-top: 2px;
    margin-left: 1px;
    padding: 2px;
    background-color: f0f0f0;
    float: left;
    background-color: #fff2b9;
    background: bottom;
    border: solid 2px #d3ca77;
}