<app-menu-dashboard></app-menu-dashboard>

<!-- <div class="col-lg-9 col-md-8 col-sm-12">

    <div class="titulo">Dashboard</div>
    <div class="datos">

        <h4>1. Resumen de Citas</h4>

        <p> Total de Citas: X citas programadas para esta semana.
            Citas Pendientes: Y citas aún no confirmadas por los pacientes.
            Citas Canceladas: Z citas canceladas por los pacientes.
        </p>

        <h4>2. Estado de la Clínica</h4>

        <p> Ocupación de Consultorios: Estado actual de los consultorios (ocupados o disponibles).
            Inventario de Materiales: Nivel actual de insumos y materiales odontológicos.
            Estado de Equipos: Condición operativa de equipos importantes (radiografías, autoclaves, etc.).
        </p>

        <h4>3. Estadísticas Mensuales</h4>

        <p> Pacientes Atendidos: Total de pacientes atendidos este mes.
            Tratamientos Realizados: Desglose de tratamientos más comunes realizados.
            Ingresos y Gastos: Resumen de ingresos generados y gastos incurridos.
        </p>

        <h4>4. Alertas y Recordatorios</h4>

        <p> Recordatorio de Pacientes: Próximas citas para hoy y los próximos días.
            Alertas de Stock: Notificaciones sobre materiales que necesitan ser reabastecidos.
            Cumpleaños de Pacientes: Lista de pacientes con cumpleaños este mes.
        </p>


        <h4>5. Información de Pacientes</h4>

        <p> Buscador de Pacientes: Herramienta para buscar información detallada de pacientes.
            Últimas Consultas: Historial de las últimas consultas y tratamientos realizados.
            Notas y Observaciones: Espacio para añadir notas importantes sobre pacientes.
        </p>

        <h4>6. Mensajes y Comunicaciones</h4>

        <p> Mensajes Internos: Comunicaciones internas entre el equipo médico y administrativo.
            Mensajes Externos: Comunicaciones con pacientes (recordatorios de citas, seguimientos).
        </p>

        <h4>7. Reportes y Análisis</h4>

        <p> Reporte de Productividad: Desempeño del equipo en términos de productividad y eficiencia.
            Análisis de Retención de Pacientes: Estadísticas sobre la retención y lealtad de los pacientes.
        </p>

        <h4>8. Configuraciones</h4>

        <p> Configuración de Usuarios: Gestión de cuentas de acceso y permisos.
            Ajustes del Sistema: Personalización de preferencias y parámetros del sistema.
            Este dashboard proporciona una visión general completa y accesible del estado operativo del consultorio odontológico,
            facilitando la gestión eficiente de citas, recursos, pacientes y comunicaciones internas.
        </p>
    </div>
</div> -->
