
/* es una fuente obtenida de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Es la regla de la fuente obtenida, la seteamos en la etiqueta body*/
body{
    font-family: 'Poppins', sans-serif;
}

#infGeneral { /*Definimos estilos especificos para el div infGeneral del Home*/
    background: #e9e6d0;
    margin: 20px;
    border-radius: 3px;
    font-size: smaller;
    text-align: justify;
    padding-top: 20px;
}


#imgValora {
    width: 173px;
    border-radius: 4px;
    padding-bottom: 6px;
}

#btnValoracion{
    width: 135px;
    height: 50px;
    font-size: 21px;
    font-weight: 600;
    background: white;
    font-style: oblique;
    border: solid 2px white;
    margin-left: 17px;
    margin-bottom: 4px;
    border-radius: 8px;
}

#btnValoracion:hover{
    background: #4f3d08;
    font-size: 23px;
    color: whitesmoke;
    border: solid 4px 4f3d08;
    border-radius: 8px;
}


#footer { /* damos algunos estilos al footer */
    background: #c6b379; /* Fondo */
    font-size: 13px; /* Tamaño */
    padding-top: 15px;
    padding-bottom: 11px;

}

a.navbar-brand { /* definimos estilos al home denominado H&M */
    background: #feffff;
    width: 55px;
    height: 35px;
    padding: 4px;
    text-align: center;
    border-radius: 12px;
    border: 4px;
    border-bottom-style: inset;
    font-weight: 700;
}

a.navbar-brand:hover { /* definimos estilos de animacion al home denominado H&M */
    background: #c6b379;
}


button.btn.btn-outline-success.my-2.my-sm-0 { /* definimos estilos a los botones: enviar, suscribirme */
    color: white;
    border-color: aliceblue;
    background: #996410;
    font-size: 10px;
    font-weight: 700;
}

/* definimos estilos al contenido del PREfooter en general */
.footerSedes {
    font-size: 13px;
    font-weight: 700;
    color: aliceblue;
    background: #7d6917;
    width: 52px;
    height: 20px;
    text-align: center;
    border-radius: 9px;
}

.footerTelefonos {
    font-size: 13px;
    font-weight: 700;
    color: aliceblue;
    background: #7d6917;
    width: 70px;
    height: 24px;
    text-align: center;
    padding-top: 3px;
    border-radius: 9px;
}

.footerHorarios {
    font-size: 13px;
    font-weight: 700;
    color: aliceblue;
    background: #7d6917;
    width: 61px;
    height: 21px;
    text-align: center;
    border-radius: 9px;
}

h6 {
    font-size: 1rem;
    color: mintcream;
    font-weight: 700;
    padding-top: 9px;
    margin-bottom: 0.5rem;
    line-height: 4px;
}

#LogoSite { /*estilos a la imagen principal*/
    width: 14%;
    margin-left: 500px;
}

.carousel-inner { /*Definimos estilos para el carousel*/
    position: relative;
    width: 50%;
    overflow: hidden;
    margin: auto;
    border: #222121;
    border: 8px;
}

#rsociales {
    background: whitesmoke;
    color: burlywood;
    font-size: x-small;
    align-self: center;
}

/* Footer, es un dato adicional que aprendí y deseo anexarlo como mi firma al pie del sitio */

#footer.row {
    display: flex;
    flex-wrap: nowrap;
    margin-right: auto;
}

footer {
    /* text-align:center; */
    background-color: #d9d9da00;
    color: #222121;
    font-size: 12px;
    margin: 3px;
    width: 60%;
    margin-left: 2%;
    height: 13px;
    padding-bottom: 8px;
    font-style: oblique;
}

#HechoPor{
    font-weight: 700;
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: #691919;
    padding-bottom: 6px;
}

#HechoPor:hover{
    background: rgb(255, 255, 16);
    color: black;
    -webkit-box-shadow: 19px -16px 110px -34px rgba(31,31,31,0.96);
    -moz-box-shadow: 19px -16px 110px -34px rgba(31,31,31,0.96);
    box-shadow: 19px -16px 110px -34px rgba(31,31,31,0.96);
}
.ventana {
    width: calc(100% - 220px);
    position: absolute;
    margin-left: 204px;
    border: solid 0px #9d882d;
    height: 100%;
    border-radius: 1px;
    overflow-x: auto;
    border: solid 0px;
}
.titulo {
    background: #9d882d;
    color: white;
    height: 38px;
    border-radius: 6px;
    padding-left: 10px;
    font-weight: 500;
    font-style: italic;
    margin-top: 2px;
    margin-bottom: 40px;
    width: 95%;
    margin-left: 8px;
    padding: 7px;
  }
.btnadd {
    background: #8BC34A;
    width: 39px;
    text-align: center;
    color: white;
    border-radius: 50%;
    font-size: 23px;
    font-weight: 700;
    margin: 4px;
    right: 4px;
    position: absolute;
    top: 0px;
    cursor: pointer;

}
.table {
    width: 1140px;
    margin-bottom: 1rem;
    color: #212529;
    margin-top: -30px;
    margin-left: 9px;
    border-radius: 1px;
  }
div#Datos-Usuario img {
  cursor: pointer;
}
