<app-menu-dashboard></app-menu-dashboard>

<div class="ventana">

    <div class="titulo">Administrar Citas</div>
    <div class="btnadd" (click)="AbrirModal()">+</div>
    <div class="datos">

        <table class="table table-hover">
            <thead class="thead-light">
              <tr>

                <th scope="col">Ciudad</th>
                <th scope="col">Departamento</th>
                <th scope="col">Usuario</th>
                <th scope="col">Tratamiento</th>
                <th scope="col">Fecha y Hora</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of datos" (click)="EditarId(item._id)" [ngStyle]="{'background': item.color}">

                <td>{{item.id_ciudad.nombre}}</td>
                <td>{{item.id_depto.nombre}}</td>
                <td>{{item.id_usuarioCliente.nombre}}</td>
                <td>{{item.id_tratamiento.nombre}}</td>
                <td>{{item.fechayhora}}</td>

                <td>
                  <div *ngIf="item.estado==1">Activo</div>
                  <div *ngIf="item.estado==0">Inactivo</div>
                </td>

              </tr>

            </tbody>
        </table>
    </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="modalnuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Administrar Citas</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="form-group">
              <label for="inputDepto">Departamento</label>
                <select id="inputDepto" class="form-control" [(ngModel)]="departamento" (change)="cargarCiudades()">
                  <option *ngFor="let item of departamentos" [ngValue]="item">
                    {{ item.nombre }}
                  </option>
                </select>
            </div>

              <div class="form-group">
                <label for="inputCiudad">Ciudad</label>
                <select id="inputCiudad" class="form-control" [(ngModel)]="ciudad">
                  <option *ngFor="let item of ciudades" [ngValue]="item">
                    {{ item.nombre }}
                  </option>
                </select>
              </div>

            <div class="form-group">
              <label for="id_usuarioCliente">Usuario</label>
              <input type="email" class="form-control" id="id_usuarioCliente" [(ngModel)]="id_usuarioCliente">
            </div>

            <div class="form-group">
              <label for="inputProcedimiento">Tratamiento:</label>
                <select id="inputTratamiento" class="form-control" [(ngModel)]="tratamientos">
                  <option *ngFor="let item of tratamientos" [value]="item">
                    {{ item.nombre }}
                  </option>
                </select>
            </div>

            <!-- <div class="form-group">
              <label for="fechayhora">Fecha y Hora"</label>
              <input type="fechayhora" class="form-control" id="fechayhora" [(ngModel)]="fechayhora">
            </div> -->

            <div class="form-group">
              <label for="inputFecha">Fecha:</label>
              <input type="date" class="form-control" id="inputFecha" [(ngModel)]="fecha">
            </div>

            <div class="form-group">
              <label for="inputHora">Hora:</label>
              <input type="time" class="form-control" id="inputHora" [(ngModel)]="hora">
            </div>

            <div class="form-group">
                <label for="estado">Estado</label>
                <select class="form-control" id="estado" [(ngModel)]="estado">
                  <option value="0">Inactivo</option>
                  <option value="1">Activo</option>
                </select>
              </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="Guardar()" *ngIf="Idseleccionado == ''">Guardar</button>
          <button type="button" class="btn btn-primary" (click)="Actualizar()" *ngIf="Idseleccionado != ''">Actualizar</button>
          <button type="button" class="btn btn-danger" (click)="Eliminar()" *ngIf="Idseleccionado != ''">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
