<app-menu-dashboard></app-menu-dashboard>

<div class="container-fluid">
  <div class="row">
      <div id="Mis-Citas">
          <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Dia</th>
                  <th scope="col">Hora</th>
                  <th scope="col">Procedimiento</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Viernes 28 Mayo</td>
                  <td>19:00 pm</td>
                  <td>Proyecto Final</td>
                </tr>

              </tbody>
            </table>

            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Edad</th>
                  <th scope="col">Dirección</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Steban</td>
                  <td>Delgado</td>
                  <td>26</td>
                  <td>Calle 5 Cra 5</td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
</div>
