    <!-- <div class="row">
        <div id="Mi-Menu" class="col-lg-3 col-md-4 col-sm-12">
            <div id="Datos-Usuario">
                <img src="assets/images/AvatarAdmin.png">
                    <div *ngIf="rol=='1'"><img src="assets/images/AvatarAdmin.png"></div>
                    <div *ngIf="rol=='2'"><img src="assets/images/AvatarUsuario.png"></div>
                    <div *ngIf="rol=='3'"><img src="assets/images/Avatar.png"></div>
                <div class="Nombre-Cliente">Cristhian Beltran</div>
                <div class="Rol-Cliente">Super Administrador
                    <div *ngIf="rol=='1'">Super Administrador</div>
                    <div *ngIf="rol=='2'">Usuario</div>
                    <div *ngIf="rol=='3'">Cliente</div>
                </div>
            </div>
            <div class="Opciones-Cliente">
                    <div class="Item-Menu" routerLink="/dashboard">Dashboard</div>
                    <div class="Item-Menu" routerLink="/administrar-usuarios"> Administrar Usuarios</div>
                    <div class="Item-Menu" routerLink="/citas"> Administrar Citas</div>
                    <div class="Item-Menu" routerLink="/administrar-tratamientos">Administrar Tratamientos</div>
                    <div class="Item-Menu" routerLink="/administrar-clientes">Administrar Clientes</div>
                    <div class="Item-Menu" routerLink="/citas"> Agendar Citas</div>
                    <div class="Item-Menu" routerLink="/miscitas">Mis Citas</div>
                    <div class="Item-Menu" routerLink="/micuenta">Mi Cuenta</div>
                    <div class="Item-Menu" routerLink="/login">Salir</div>
            </div>
        </div>
    </div> -->

    <div id="Mi-Menu">
        <div id="Datos-Usuario">
            <img src="assets/images/AvatarAdmin.png">
            <div *ngIf="rol=='1'"><img src="assets/images/AvatarAdmin.png"></div>
            <div *ngIf="rol=='2'"><img src="assets/images/AvatarUsuario.png"></div>
            <div *ngIf="rol=='3'"><img src="assets/images/Avatar.png"></div>
          <div class="lblnombre">Cristhian Beltran</div>
          <div class="lblrol">Super Administrador
            <div *ngIf="rol=='1'">Super Administrador</div>
            <div *ngIf="rol=='2'">Usuario</div>
            <div *ngIf="rol=='3'">Cliente</div>
        </div>
        </div>
        <div class="opciones">
            <div class="itemmenu" routerLink="/dashboard">Dashboard</div>
            <div class="itemmenu" routerLink="/administrar-usuarios">Administrar Usuarios</div>
            <div class="itemmenu" routerLink="/administrar-citas">Administrar Citas</div>
            <div class="itemmenu" routerLink="/administrar-tratamientos">Administrar Tratamientos</div>
            <div class="itemmenu" routerLink="/administrar-clientes">Administrar Clientes</div>
            <div class="itemmenu" routerLink="/user-menu-agendar-citas">Agendar Citas</div>
            <div class="itemmenu" routerLink="/user-menu-mis-citas">Mis Citas</div>
            <div class="itemmenu" routerLink="/user-menu-mis-datos">Mis Datos</div>
            <div class="itemmenu" routerLink="/login">Salir</div>
        </div>
      </div>

