div#mimenu {
    border: solid 1px;
    width: 200px;
    background: #d67de5;
    height: 95vh;
    float: left;
    margin-top: 16px;
    margin-left: 16px;
    border-radius: 2%;
}

div#datosusuario img {
    width: 150px;
    border-radius: 50%;
    height: 150px;
    margin-left: calc(50% - 75px);
    margin-top: 9px;
    margin-bottom: 10px;
}

.lblnombre {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
}

.opciones {
    padding-left: 8px;
    color: white;
}

.lblrol {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
}

.itemmenu {
    margin-bottom: 11px;
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.itemmenu:hover {
    margin-left: 10px;
}

div#superior {
    background: #d67de5;
    height: 39px;
}